@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Advertise Your Jobs Just In Seconds</h1>
    <p> Welcome in Advertisement_LTd . We are provide veriety of Jobs and help Employers to Hire Better candidates for your workpalce</a>.</p>
    <img src="~/img/AdvertisingBlog.jpg" />
</div>
